body{
    background-color: rgb(32, 76, 221);
    margin: 10;
}
.nav{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
}
h1{
    color: cornsilk;
    text-align: center;

}
#banner{
    background-image: url("./images/Spiderman_2.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
}
#banner1{
    background-image: url("./images/Spiderman_1.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
}
#banner2{
    background-image: url("./images/download.jfif");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
}
p{
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: rgb(146, 52, 52);
    margin: 10px;
}
#foot{
    color: cornsilk;
    background-color: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

ul{
    font-size: x-large;
}